/*ALTERAÇÕES CINEMA*/

.ui-panel .ui-panel-titlebar{
   padding: 0px !important;	
}

.cor{
  background:red;	
}

.panelPesquisa{
   margin-top: 20px;
}

.fontePreto{
   font-weight: 20px;	
}

.fundoSaco{
    background: url("../imagensProjeto/saco.png") repeat-x scroll left top transparent !important;
    padding: 4px;
    height: 40px;
    margin-top: 8px;
    border: none;
    margin-bottom: 20px;
}

.fundoPipoca{
    background: url("../imagensProjeto/saco.png") repeat-x scroll left top transparent !important;
    padding: 72px;
    border: none;
    margin-bottom: 4px;
}

.logo{
    background: url("../imagensProjeto/logo.png") no-repeat !important;
    width: 183px !important;
    height: 128px !important;
    float: left !important;
    border: none !important;
}

.logoInicial{
    background: url("/imagensProjeto/logo.png") no-repeat !important;
    width: 183px;
    height: 128px;
    float: left;
    border: none;
}

.fundo{		
	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(top, #FFFFFF 0%, #FFFF00 100%);
	
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #FFFFFF 0%, #FFFF00 100%);
	
	/* Opera */ 
	background-image: -o-linear-gradient(top, #FFFFFF 0%, #FFFF00 100%);
	
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #FFFF00));
	
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #FFFF00 100%);
	
	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom, #FFFFFF 0%, #FFFF00 100%);
}

.panelPaginaInicial{
   margin-top: 50px !important;
   margin-bottom: 50px !important;
}

.teste{
   background-image: url(../imagensProjeto/cinema3_fav_teste.png) !important;	
}

.iconTwitter {
background: url(../imagensProjeto/icone-twitter.png) no-repeat !important;	
height:38px !important;
width:38px !important;

}

.iconFacebook {
background: url(../imagensProjeto/icone-face-book.png) no-repeat !important;	
height:38px;
width:38px;
}

.iconHome {
background: url(../imagensProjeto/cinema3_fav_teste.png) no-repeat !important;	
height:24px;
width:24px;
}

.iconLancamento {
background: url(../imagensProjeto/cinema4_fav1.png) no-repeat !important;	
height:24px;
width:24px;
}

.iconFilmes {
background: url(../imagensProjeto/database1.png) no-repeat !important;	
height:24px;
width:24px;
}

.iconCartaz {
background: url(../imagensProjeto/cinema1_fav1.png) no-repeat !important;	
height:24px;
width:24px;
}

.iconSala {
background: url(../imagensProjeto/Cinema-icon1.png) no-repeat !important;	
height:24px;
width:24px;
}

.iconHorario {
background: url(../imagensProjeto/hora.png) no-repeat !important;	
height:24px;
width:24px;
}

.iconPromocao {
background: url(../imagensProjeto/filmePromocao.png) no-repeat !important;	
height:24px;
width:24px;
}

.iconContato {
background: url(../imagensProjeto/reel.png) no-repeat !important;	
height:24px;
width:24px;
}

.divImagemDetalhe{
   float: left !important;
   margin: 10px !important;
}

.divDadosDetalhe{
	float: left !important;
	margin: 10px !important;
}

.textoDadosDetalhe{
	margin: 5px !important;
	text-align: left !important;
}

.video{
	float: inherit !important;
	text-align: center !important;
}

.tabelaHorario{
	margin-left: 100px !important;
}
